.credit_card_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.cards_holder {
  width: 350px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/* .cards_holder:hover {
  transform: rotateY(180deg);
} */
.front_card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  color: #fff;
  margin: 10px;
  /* /* backface-visibility: hidden; */
  z-index: 1;
}
.chipCard {
  position: absolute;
  width: 90px;
  top: 29%;
  right: 77%;
}
.back_card {
  background-image: url("bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin: 10px;
  position: absolute;
  color: #fff;
  /* backface-visibility: hidden; */
  /* z-index: 0; */
  transform: rotateY(180deg);
}
.flipBtn {
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: #669bbc;
  cursor: pointer;
}
.flipBtn:hover {
  background-color: #219ebc;
}
.card_img {
  position: absolute;
  right: 36%;
  width: 90px;
  height: auto;
  object-fit: cover;
}
.number {
  position: absolute;
  top: 45%;
  left: 23%;
  font-size: 22px;
}
.name {
  position: absolute;
  top: 85%;
  left: 5%;
}
.expire_date {
  position: absolute;
  top: 86%;
  left: 85%;
}
.cvc {
  position: absolute;
  top: 44%;
  left: 85%;
}
/* form container */
.form_container {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  margin: 10px;
  padding: 10px;
  max-width: 100%;
  border-radius: 12px;
}
label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
input {
  padding: 6px;
  border-radius: 12px;
  outline: none;
  border: none;
  margin-top: 10px;
}
.expire {
  margin-top: 10px;
}

.small_input {
  text-align: center;
  width: 50px;
}

.big_input {
  text-align: center;
  width: 80px;
}

.m_y_cvc {
  display: flex;
  justify-content: space-between;
}

.expire_label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
